body {
  background-image: url("/img/background.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#button {
  background-color: #f79307;
}

.content,
parag {
  color: #f79307;
}

i.search.hide.icon.hide {
  display: none;
}

form#form-vaga.ui.form.segment {
  margin: 5% 20%;
}
