body {
  background-image: url("/img/background.jpg") !important;
  background-repeat: repeat;
  object-fit: cover;
}

#button {
  background-color: #f79307;
}

.content, parag, i.user.outline.icon {
  color: #f79307;
}

i.search.hide.icon.hide {
  display: none;
}

form#form-vaga.ui.form.segment, form.ui.form.segment {
  margin: 5% 20%;
}

div.content>section>div>p {
  color: black;
  margin-right: 35px;
  font-size: 15px
}
