.map {
    height: 600px;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.centered {
    width: 100%;
    text-align: center;
}

.titulo {
    padding-top: 20px;
    text-align: center;
    position: flex;
}

.div-input>p {
    text-align: center;
    position: flex;
    padding-bottom: 10px;
}