body {
  background-image: url("imagens/Background.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body>.grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 430px;
}

.parag {
  color: rgb(255, 255, 255);
}

#button {
  background-color: #F79307;
}

#github_icon {
  color: #F79307;
  font-size: 30px;
}

.content, parag {
  color: #F79307;
}