body {
  background-image: url("imgs/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body>.grid {
  height: 100%;
}

.image {
  margin-top: -100px; 
}

.column {
  max-width: 430px;
}

.parag {
  color: rgb(255, 255, 255);
}